@media screen and (max-width: 1200px) {
	.header-left h1{
		font-size: 40px;
	}
	.header-left h3{
		font-size: 18px;
	}
	.container{
		width: 98%;
		padding: 0 1%;
	}
	.detail:nth-child(2){
	padding-left: 15px;
	}
	.detail:nth-child(4){
		padding-right: 15px;
	}
	.box-content:nth-child(3n+4) {
	padding-right: 15px;
	}
	.box-content:nth-child(3n+2) {
		padding-left: 15px;
	}
	.detail{
		margin-bottom: 10px;
	}
    .body-footer-background p {
        font-size: 24px;
    }
}

@media screen and (max-width: 990px) {
    .text {
	    width: 69%;
	    padding: 20px;
	    font-weight: 700;
    }
    .body-footer-background .text,  .body-footer-background p {
        font-size: 22px;
    }
    .header-left h1 {
        font-size: 32px;
    }
    .header-left h3 {
        font-size: 16px;
    }
    .header-right h2 {
        font-size: 22px;
    }
}
@media screen and (max-width: 768px) {
    .text {
	    width: 69%;
	    padding: 20px;
	    font-weight: 700;
    }
    .body-footer-background .text,  .body-footer-background p {
        font-size: 22px;
    }
    .header-left h1 {
        font-size: 32px;
    }
    .header-left h3 {
        font-size: 16px;
    }
    .header-right h2 {
        font-size: 22px;
    }
}
